/*.image-container {
  display: flex;
  flex-direction: column;
  transform: rotate3d(30deg, 20deg, 10deg);
  transition: all 0.2s ease-in-out;
  height: 100%;
  padding-top: 45%;
}

.image {
  max-width: 100%; 
  height: 100%; 
  transform: scale(0.9) skew(50deg, -20deg); 
  box-shadow: -3px 3px 10px 5px var(--color-shadow-white);
  border: 1px;
  border-color: var(--color-gradient-white);
  border-style: solid;
  padding: 2%;
  margin-top: -55%;
  margin-right: 1% ;
}*/



.image-container {
  display: flex;
  flex-direction: column;
  transform: rotate3d(30deg, 20deg, 10deg);
  transition: all 0.2s ease-in-out;
  margin-top: 50%;
  height: 100%;

}

.image {
  width: 100% ; /* Set your desired width */
  height: auto;
  background-size: cover;
  background-position: center;
  transform: skew(50deg, -20deg); /* Combine scale and skew */
  box-shadow: -3px 3px 10px 5px var(--color-shadow-white);
  transition: margin-top 1s ease-in-out; /* Add a transition for margin-top */
  border: 1px;
  border-color: var(--color-gradient-white);
  border-style: solid;
  
  margin-top: -62%;
}
