@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'reef';
  src: url('./fonts/reef.otf');
}


* {
  --color-primary-black: #1b1b1b;
  --color-primary-white: #ebebeb;
  --color-primary-gray: #939393;

  --color-secondary-gray: #b9b9b9;
  --color-menu-gray : #2e2e2e;
  --color-gradient-black : rgba(27,27,27,0.3);

}



body {
  background-color: var(--color-primary-black);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}


/*If device width is greater than 600px or equal to */
@media only screen and (min-width: 600px)  {
}

/*If device width is less than 600px or equal to */
@media only screen and (max-width: 600px)  {
 
}

::-webkit-scrollbar {
  width: 0;
}